<%= form_with(model: @post, local: true) do |form| %>
 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">  <div class="field">
    <%= form.label "File Number" %>
    <%= form.text_field :fileNumber %>
  </div>
</th>
      <th scope="col">  <div class="field">
    <%= form.label "Blood Type" %>
    <%= form.text_field :bloodType %>
  </div>
</th>
      <th scope="col">  <div class="field">
    <%= form.label "Patient Name" %>
    <%= form.text_field :patientName %>
  </div>
</th>
      <th scope="col"><div class="field">
    <%= form.label "Blood Units Needed (ml)" %>
    <%= form.text_field :bloodUnits %>
  </div>
</th>
      <th scope="col"><div class="field">
    <%= form.label "Duration needed at (days)" %>
    <%= form.text_field :duration %>
  </div>
</th>
    </tr>
  </thead>

</table>


<%if user_signed_in?%>

<%= form.hidden_field :user_id, :value => current_user.id%>

<%elsif hospital_signed_in?%>

<%= form.hidden_field :hospital_id, :value => current_hospital.id%>

<%end%>

  <div class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>
