<%if hospital_signed_in?%>
<div class="text-center">
<h1><%= link_to 'New Post', new_post_path %></h1>
</div>
<%end%>


<% @posts.each do |post| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title"><%= post.bloodType %></h1>
    <h6 class="card-subtitle mb-2 text-muted"> <%= Hospital.find(post.hospital_id).name%>, <%= Hospital.find(post.hospital_id).city%></h6>
    <p class="card-text">File Number: <%= post.fileNumber %> </p>
    <p class="card-text">Patient Name: <%= post.patientName %> </p>
    <p class="card-text">Blood Units: <%= post.bloodUnits %> </p>
    <p class="card-text">Post Duration: <%= post.duration %> </p>
    <%= link_to 'Show', post, class: 'card-link' %>
    <%= link_to 'Delete', "/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
  </div>
</div>
      <% end %>



