<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Patient File Number</th>
      <th scope="col">Blood Type</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Blood Units Needed</th>
      <th scope="col">Duration (days)</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @post.fileNumber %></td>
        <td><%= @post.bloodType %></td>
        <td><%= @post.patientName %></td>
        <td><%= @post.bloodUnits %></td>
        <td><%= @post.duration %></td>
        </tr>
      </tr>
  </tbody>
</table>


<div class="text-center"><%= link_to image_tag('https://svgur.com/i/EEg.svg', size:"100x100") , "/donate/#{@post.id}"%></div>
<div class="text-center "> <%= link_to 'Back', posts_path %></div>
